<!DOCTYPE HTML>
<html>
<head>
    <title>Tweetviz</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="static/sigma.min.js"></script>
    <script type="text/javascript" src="static/plugins/sigma.layout.forceAtlas2.js"></script>
    <style>
    html,body { 
      height: 100%;
      margin: 0;
      padding: 0;
    }
    </style>
</head>
<body>
    <div id="info" style="position:absolute; z-index:100; top:0px; right:0px; width:250px; height: 100px; text-align: right; padding: 10px;">
      <span id="nodes"></span><strong> noeuds</strong><br/>
      <span id="edges"></span><strong> liens</strong><br/>
      <span id="tweets"></span><strong> tweets</strong><br/>
      <h3>10 premiers noeuds</h3>
      <table border=0>
        <tr><td id="desc0"></td><td id="rank0"></td></tr>
        <tr><td id="desc1"></td><td id="rank1"></td></tr>
        <tr><td id="desc2"></td><td id="rank2"></td></tr>
        <tr><td id="desc3"></td><td id="rank3"></td></tr>
        <tr><td id="desc4"></td><td id="rank4"></td></tr>
        <tr><td id="desc5"></td><td id="rank5"></td></tr>
        <tr><td id="desc6"></td><td id="rank6"></td></tr>
        <tr><td id="desc7"></td><td id="rank7"></td></tr>
        <tr><td id="desc8"></td><td id="rank8"></td></tr>
        <tr><td id="desc9"></td><td id="rank9"></td></tr>
      </table>
    </div>
    <div id="pub" style="position:absolute; z-index:100; top:0px; left:0px; width:160px; height: 600px;">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- vertical -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:160px;height:600px"
           data-ad-client="ca-pub-3348070071107733"
           data-ad-slot="1676732046"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div id="vizArea" style="height: 100%; width:100%;"></div>
    <script type="text/javascript" charset="utf-8">
        var tweets_count = 0;
        var new_nodes = [];
        function nb_entities(msg) {
            return msg.entities.hashtags.length + msg.entities.user_mentions.length;/*+ msg.entities.symbols.length + msg.entities.urls.length */;
        }
        var run = true;
        var s = new sigma({
          renderer: {
            container: document.getElementById('vizArea')
          },
          type: 'canvas',
          settings: {
            autoRescale: false,
            mouseEnabled: true,
            touchEnabled: false,
            nodesPowRatio: 1,
            edgesPowRatio: 1,
            defaultEdgeColor: '#333',
            //defaultNodeColor: '#333',
            //edgeColor: 'default',
            //mode: 'canvas'
          }
        });
        var eId = 0;
        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
            socket.on('tweet', function(msg) {
                tweets_count += 1;
                if(run && nb_entities(msg) > 0) {

                  try {
                    s.graph.addNode({
                      id: msg.user.id_str,
                      label: msg.user.name,
                      type: "user",
                      screen_name: msg.user.screen_name,
                      created: new Date(),
                      size: 2,
                      x: 10 + Math.random(),
                      y: 10 + Math.random(),
                      dX: 0,
                      dY: 0,
                      color: "#F00"
                    });
                  } catch(e) {}

                  msg.entities.hashtags.forEach(function(hashtag) {
                    try {
                      s.graph.addNode({
                        id: hashtag.text.toLowerCase(),
                        label: "#"+hashtag.text,
                        type: "hashtag",
                        created: new Date(),
                        size: 2,
                        x: 50 + Math.random(),
                        y: 50 + Math.random(),
                        dX: 0,
                        dY: 0,
                        color: "#0F0"
                      });
                      new_nodes.push(hashtag.text.toLowerCase());
                    } catch(e) {}

                    s.graph.addEdge({
                      id: (++eId) + '',
                      source: msg.user.id_str,
                      target: hashtag.text.toLowerCase()
                    });

                    
                  });

                  msg.entities.user_mentions.forEach(function(user) {
                    try {
                      s.graph.addNode({
                        id: user.id_str,
                        label: user.name,
                        type: "user",
                        screen_name: user.screen_name,
                        created: new Date(),
                        size: 2,
                        x: 10 + Math.random(),
                        y: 10 + Math.random(),
                        dX: 0,
                        dY: 0,
                        color: "#F00"
                      });
                      new_nodes.push(user.id_str);
                    } catch(e) {}

                    s.graph.addEdge({
                      id: (++eId) + '',
                      source: msg.user.id_str,
                      target: user.id_str
                    });
                  });

                  //s.refresh();
                  //$('#log').prepend('<br />@' + msg.user.screen_name + ': ' + msg.text);
                  //console.log(msg);
                }
            });
        });
        function forceAtlas() {
          s.startForceAtlas2({ 
              autoSettings: false,
              linLogMode: true
            });
        }

        function updateInfo() {
          nodes = s.graph.nodes();
          $("#nodes").html(nodes.length);
          $("#edges").html(s.graph.edges().length);
          $("#tweets").html(tweets_count);

          nodes.sort(function(a, b){
            return s.graph.degree(b.id) - s.graph.degree(a.id);
          });
          for(var i=0; i<Math.min(10, nodes.length); i++) {
            $("#desc"+i).html("#"+ (i+1) +" <strong>"+nodes[i].type+"</strong> : ")
            if(nodes[i].type == "user")
              $("#rank"+i).html('<a href="https://www.twitter.com/'+nodes[i].screen_name+'" target="_blank" >'+nodes[i].label+'</a')
            else
              $("#rank"+i).html('<a href="https://twitter.com/search?q='+encodeURIComponent(nodes[i].label)+'" target="_blank" >'+nodes[i].label+'</a')
          }
          setTimeout(function() { updateInfo(); } , 500);
        }

        setTimeout(function() { updateInfo(); } , 500);
        setTimeout(function() { forceAtlas(); } , 5000);
    </script>
</body>
</html>
